---
apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: apology
  namespace: default
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/maxScale: "1"
        autoscaling.knative.dev/minScale: "1"
    spec:
      containers:
        - image: ko://kndemo/cmd/apology
          env:
          - name: LLM_API_BASE_URL
            value: http://host.docker.internal:11434/v1
---
apiVersion: eventing.knative.dev/v1
kind: Trigger
metadata:
  name: apology
  namespace: default
spec:
  broker: default
  filter:
    attributes:
      type: lookup.new
  subscriber:
    ref:
      apiVersion: serving.knative.dev/v1
      kind: Service
      name: apology
