---
apiVersion: sources.knative.dev/v1
kind: SinkBinding
metadata:
  name: svc-intake-binding
  namespace: default
spec:
  # The "subject" is the workload to inject K_SINK into.
  subject:
    apiVersion: serving.knative.dev/v1
    kind: Service
    name: intake

  # The "sink" is the destination where events should be sent.
  # This assumes a Broker named 'default' in the same namespace.
  # If your broker has a different name, change it here.
  sink:
    ref:
      apiVersion: eventing.knative.dev/v1
      kind: Broker
      name: default
---
apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: intake
  namespace: default
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/maxScale: "1"
        autoscaling.knative.dev/minScale: "1"
    spec:
      containers:
        - image: ko://kndemo/cmd/intake
---
apiVersion: eventing.knative.dev/v1
kind: Trigger
metadata:
  name: intake
  namespace: default
spec:
  broker: default
  filter:
    attributes:
      type: apology.new
  subscriber:
    ref:
      apiVersion: serving.knative.dev/v1
      kind: Service
      name: intake
    uri: /cloudevent
